body {
  background-color: #f1f1f1;
}

a,
a.nav-link,
.link {
  color: #555;
}

a:hover,
a.nav-link:hover,
.link:hover {
  color: #0a58ca;
}

.form-control:focus,
.form-select:focus {
  border-color: #999999;
}

.btn-primary-disabled {
  background-color: #4792ff !important;
  border-color: #4792ff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #d8d8d8;
    border-color: #dee2e6;
}

.list-group-item {
  background-color: inherit;
  border: 0 none;
}

.list-group-item a {
  text-decoration: none;
}
