html {
  font-size: 0.9rem;
}

/*
	Left sidebar
*/

div.sidebar .nav-item a {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.sidebar .nav-item h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
}

/*
  Editor
*/
#btnCurrenType {
  cursor: pointer;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #555;
}

.link:hover {
  color: #0a58ca;
}

/*
    OLD >>>>>>>>>
*/


/*
	AUTOCOMPLETE SEARCH
*/

.search-suggestion {
    padding: 5px;
}

.search-suggestion-options {
    font-size: 0.9em;
    padding-top: 2px;
}

.list-group-sortable {
    cursor: pointer;
}



