
/* COMMON */
a {
    color: #495057;
	text-decoration: none;
}

a:hover {
	color: #0a58ca;
}

img {
	max-width: 100%;
}

pre, code {
	color: #f8f8f8;
	background-color: #495057;
}

code {
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.4em;
	border-radius: 3px;
}

pre {
	overflow-x: scroll;
	padding: 1.6rem 2.2rem;
	line-height: 1.5;
	border-radius: 5px !important;
}

/* PAGE */
section.page h1.title {
	font-size: 2rem;
}

section.page .description {
    font-style: italic;
}

section.page a {
	color: #0a58ca;
}

/* VIDEO EMBED RESPONSIVE */
.video-embed {
	overflow:hidden;
	padding-bottom: 56.25%; /* 16:9 */
	position:relative;
	height:0;
}
.video-embed iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
