
/* COMMON */
a {
    color: #495057;
	text-decoration: none;
}

a:hover {
	color: #0a58ca;
}

.page-date {
	color: #0a58ca;
	font-weight: 600;
}

/* VIDEO EMBED RESPONSIVE */
.video-embed {
	overflow:hidden;
	padding-bottom: 56.25%; /* 16:9 */
	position:relative;
	height:0;
}
.video-embed iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
