AddDefaultCharset UTF-8

# Remove the trailing slash from URL
DirectorySlash Off

# Enable rewrite rules
RewriteEngine on

# Deny direct access to .txt files
RewriteRule ^content/(.*)\.txt$ - [R=404,L]

# All URL process by index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php [L]