html {
	position: relative;
	min-height: 100%;
}

body {
	/* Padding top for navbar */
	padding-top: 56px;
	/* Margin bottom for footer height */
	margin-bottom: 60px;
}

section {
	padding: 150px 0;
}

/* Navbar */
.navbar-nav-svg {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: text-top;
	color: rgba(255,255,255,.5);
}

.nav-link {
	font-size: 0.8em;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 0.8em;
}

.mini-logo {
	height: 22px;
	padding-bottom: 5px;
}

/* Plugins */
.plugin {
	margin-top: 3rem;
}
.plugin-label {
	font-size: 1em;
	text-transform: uppercase;
}

.plugin ul {
	list-style: none;
	padding: 0 0 0 10px;
}