/* Blogme hacks */

#wrapper {
	width: 1100px !important;
}

#sidebar {
	min-width: 12em !important;
}

article.post div.title h1 {
	font-weight: normal;
	margin: 0 !important;
	font-size: 1.2em;
}

article.post div.info {
	font-size: 0.9em;
	color: #888;
}

article.post div.info > span {
	margin-right: 15px;
}

div.cover-image {
	border-bottom: 1px solid rgba(160, 160, 160, 0.3);
	display: flex;
	left: -3em;
	margin: -3em 0 3em;
	position: relative;
	width: calc(100% + 6em);
}

h1.blog-title {
	font-size: 2.4em;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-weight: normal !important;
}

.plugin ul {
	list-style: none !important;
	padding: 0 !important;
}

.plugin li {
	padding: 0 !important;
}

.plugin-pages ul.children {
	margin-left: 10px;
}

/* Just for Plugin tags */
.plugin-tags li {
	text-transform: capitalize;
}

img {
	width: 100%;
}

#menu-bottom {
	bottom: 0;
	display: block;
	margin: 20px;
	background: rgba(220, 220, 220, 0.52);
	position: fixed;
	right: 0;
	border-radius: 3px;
}

#menu-bottom > a {
	margin: 0 10px;
}