body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
	max-width: 100%;
}

a {
	color: #005ec3;
}

/* Toc */
#toc {
    float: right;
    width: 40%;
    margin: 0 0 0.5em 0.5em;
    padding: 1em;
    background-color: #f5f5f5;
}

#toc ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Main */
.main {
	margin-top: 30px;
}

.main h1.title {
	font-size: 1.7em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 8px;
}

.main h1,
.main h2,
.main h3,
.main h4 {
	margin-top: 20px;
	margin-bottom: 15px;
	color: #e6522c;
}

.main h2 {
	font-size: 1.5em;
}

.main h3 {
	font-size: 1.3em;
}

.main h4 {
	font-size: 1.2em;
}

.main p {
	margin: 15px 0 15px 0;
	line-height: 1.5;
}

.main div.note {
	margin: 20px 0;
	padding: 20px;
	background: #fafafa;
	font-size: 0.9em;
}

.main div.note div.title {
	color: #e6522c;
	text-transform: uppercase;
}

pre, pre code {
    	font-size: 14px !important;
}
pre, code {
    	font-family: "Courier New", "Liberation Mono",Courier,monospace;
}
pre {
	background: #f8f8f8 none repeat scroll 0 0;
	border: 1px solid #e7e9ee;
	color: #4d4d4c;
	line-height: 21px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
	padding: 10px 10px;
}
pre, code {
	white-space: pre-wrap;
}
code, kbd, pre, samp {
	font-family: monospace,monospace;
	font-size: 1em;
}
pre {
	overflow: auto;
}
code {
	background: #f8f8f8;
	padding: 4px;
	font-size: 14px !important;
}

/* Footer */

/* Sidebar */
.sidebar {
	margin-top: 30px;
	padding: 5px 20px 20px 7px;
	font-size: .875rem;
}

.sidebar ul.nav {
	margin-bottom: 20px;
}

.sidebar li.nav-item {
	border-left: 1px solid #fafafa;
}

.sidebar li.nav-item-active {
	border-left: 3px solid #ddd;
}
/* Navbar */
