html {
	position: relative;
	min-height: 100%;
}

body {
	/* Padding top for navbar */
	padding-top: 56px;
	/* Margin bottom for footer height */
	margin-bottom: 60px;

	font-size: 0.9em;
	background-color: #E6ECEF;
}

section {
	padding: 150px 0;
}

img {
	max-width: 100%;
}


pre, code {
	background: #f8f8f8;
	color: #333;
}

pre {
	border-left: 2px solid #ccc;
	padding: 10px;
}

code {
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.4em;
	border-radius: 3px;
}

table {
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 1rem;
}

thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th, td {
	padding: 0.5em 1em;
}

h1.title,
h2.title {
	font-size: 2.3rem;
}

blockquote {
        padding: 10px 20px;
        margin: 0 0 20px 20px;
        border-left: 5px solid #eee;
        font-style: italic;
}

.bg-light-blue {
	background: #EAF4FB;
}

#jspreviewImages img {
	width: 64px;
	height: 64px;
}

#jsloadMorePosts {
	cursor: pointer;
}

/* Image Gallery */
.image-gallery img {
	width: 120px;
	margin: 0px 3px;
}

/* Navbar */
img.nav-svg-icon {
	width: 1rem;
	height: 1rem;
	padding-bottom: 2px;
}

.nav-link {
	font-size: 0.8em;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 0.8em;
}

.mini-logo {
	height: 22px;
	padding-bottom: 5px;
}

/* Plugins */
.plugin {
	padding: 1rem!important;
	margin-top: .5rem!important;
	margin-bottom: .5rem!important;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.plugin-label {
	font-size: 1em;
	text-transform: uppercase;
}

.plugin ul {
	list-style: none;
	padding: 0 0 0 10px;
}

.share {
	font-size: 1.4em;
}

.share a {
	text-decoration: none;
	margin: 0 2px;
}
.share .twitter {
	color: #1BA1F2;
}

.share .facebook {
	color: #3B5A97;
}

.share .reddit {
	color: #FF4500;
}