/* ----------- UIKIT HACKs FOR BLUDIT ----------- */
html {
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(68%, rgba(240,240,240,1)), color-stop(100%, rgba(232,232,232,1)));
	background: -webkit-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: linear-gradient(135deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=1 );
}

.uk-form * {
	border-radius: 2px !important;
}

input[type="text"],
input[type="password"] {
	border-color: #EBEBEB !important;
	border-radius: 2px !important;
	color: #333;
}

input:disabled {
	background: #ccc;
}

.uk-vertical-align-middle {
	margin-top: -150px;
}

.uk-panel {
	background: #ffffff;
	display: block;
	margin: 20px 0;
	padding: 20px;
	position: relative;
	text-align: left;
}

/* ----------- BLUDIT ----------- */

h1.title {
	font-weight: lighter;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h3 {
	margin-top: 0px !important;
}

.content {

}

#jsshowPassword {
	color: #999;
	cursor: pointer;
	font-size: 1em;
	margin-top: 10px;
}

#jscompleteEmail {
	cursor: pointer;
	text-decoration: underline;
}