/* ----------- UIKIT HACKs FOR BLUDIT ----------- */
html {
	background: rgba(250,250,250,1);
	background: -moz-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(68%, rgba(240,240,240,1)), color-stop(100%, rgba(232,232,232,1)));
	background: -webkit-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	background: linear-gradient(135deg, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 68%, rgba(232,232,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=1 );
}

* {
	border-radius: 2px !important;
}

input[type="text"],
input[type="password"] {
	border-color: #EBEBEB !important;
	border-radius: 2px !important;
	color: #333;
}

.uk-alert {
	padding: 22px 0 !important;
}

/* ----------- BLUDIT ----------- */

div.login-box {
	width: 400px;
	max-width: calc(100% - 40px);
}

div.login-box > h1 {
	font-weight: lighter;
	letter-spacing: 4px;
	margin-bottom: 50px;
	margin-top: -100px;
}

div.login-form {
	text-align: left;
}

div.login-form > h2 {
	color: #777;
	margin-bottom: 30px;
}

a.login-email {
	border: 0;
	color: #777;
	display: block;
	margin: 20px 0;
	padding: 0;
	text-align: left;
}