
/* UIKIT HACKs
---------------------------------------------------------------- */

.uk-width-1-4 {
	width: 20% !important;
}

.uk-width-3-4 {
	width: 80% !important;
}

#bl-sidebar .uk-nav-header {
	font-weight: normal !important;
	font-size: 16px;
}

#bl-sidebar .uk-nav {
	margin: 0px 0 0 20px !important;
}

#bl-sidebar .bl-icon {
	margin-right: 5px;
}

#bl-sidebar a {
	color: #777 !important;
}

/* UIKIT HACKs buttons
---------------------------------------------------------------- */

/* UIKIT HACKs forms
---------------------------------------------------------------- */

/* CSS defaults
---------------------------------------------------------------- */
body {
	overflow-y: scroll;
}

#bl-navbar {
	background: #f1f1f1;
	margin-bottom: 20px;
	width: 100%;
}

#bl-navbar .bl-brand {
	font-size: 20px;
	line-height: 60px;
	margin: 0 30px;
	text-transform: uppercase;
}

/* OLD
---------------------------------------------------------------- */

.bl-view {
	margin-top: 25px;
	margin-bottom: 25px;
}

#logo {
	background: #f4f4f4;
	padding:20px 0;
}

h2.title {
	margin: 0 0 20px 0;
}

button.delete-button {
    background: none;
    border: 0 none;
    color: #da2727;
    cursor: pointer;
    font-size: 0.9em;
    display: block;
    margin-bottom: 10px;
}

button.delete-button:hover {
	text-decoration: underline;
}

#jscontent {
	height: 400px;
}



table.statistics tr:last-child td {
	border-bottom: none !important;
}

/* ----------- ALERT ----------- */

#alert {
	bottom: 0;
	color: #ffffff;
	padding: 10px;
	display: none;
	position: fixed;
	text-align: center;
	z-index: 100;
	right: 0;
}

.alert-ok {
	background: #4374C1;
}

.alert-fail {
	background: #c14343;
}

/* ----------- FORM ----------- */

.sidebar .uk-form-label {
	font-size: 0.9em;
	text-transform: uppercase;
}

#bludit-tags {
	margin-top: 15px;
}

#bludit-tags .uk-button {
	padding: 0 12px !important;
	margin-left: 10px;
}

#jstagList {
	margin-top: 15px;
}

#jstagList span.unselect,
#jstagList span.select {
	margin-top: 5px;
	margin-right: 5px;
	padding: 2px 15px;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	background: #f1f1f1;
	vertical-align: middle;
}

#jstagList span.unselect:before {
	font-family: FontAwesome;
	content: "\f067";
	padding-right: 5px;
}

#jstagList span.unselect {
	color: #AAA;
}

#jstagList span.unselect:hover {
	color: #888;
}

#jstagList span.select:before {
	font-family: FontAwesome;
	content: "\f00c";
	padding-right: 5px;
}

#jstagList span.select {
	color: #2196f3;
	padding: 2px 13px;
}

/* ----------- BLUDIT IMAGES V8 ----------- */
#bludit-images-v8 {

}

#bludit-images-v8 .bludit-thumbnail {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	margin: 2px;
	padding: 0;
	width: 15% !important;
}

#bludit-images-v8-upload {
	width: 100%;
	padding: 0;
	margin-bottom: 15px !important;
}

#bludit-images-v8-drag-drop {
	padding: 20px;
}

#bludit-images-v8-progressbar {
	display: none;
	margin: 20px;
}

#bludit-images-v8-thumbnails {
	max-height: 350px;
	overflow: auto;
	font-size: 0;
}

/* Bludit Menu v8 */

#bludit-menuV8 {
	display: none;
	z-index: 1020;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	background: #FFF;
	color: #333;
	border-radius: 2px;
	list-style-type: none;
	padding: 5px;
	margin: 0;
}

#bludit-menuV8 li {
	padding: 8px 12px;
	cursor: pointer;
}

#bludit-menuV8 li:hover {
	background-color: #2672ec;
	color: #fff;
}

#bludit-menuV8 li i {
	margin-right: 10px;
}

/* ----------- BLUDIT QUICK IMAGES ----------- */
#bludit-quick-images {

}

#bludit-quick-images a.moreImages {
	margin: 15px 0 0;
	width: 100%;
	background: #F5F5F5 !important;
	color: #555;
}

#bludit-quick-images h4.label {
	background: #f8f8f8;
	color: #aaa;
	padding: 2px 5px;
	font-size: 0.9em;
}

#bludit-quick-images-thumbnails {
	font-size: 0;
}

#bludit-quick-images .bludit-thumbnail {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	margin: 2px;
	padding: 0;
	width: 31% !important;
}

/* ----------- BLUDIT COVER IMAGE ----------- */
#bludit-cover-image {

}

#cover-image-thumbnail {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #666;
	height: 130px;
	padding: 0;
	width: 100%;
}

#cover-image-upload {
	color: #999;
	position: relative;
	top: 35%;
}

#cover-image-delete {
	background: rgba(255, 255, 255, 0.7);
	bottom: 0;
	color: #000;
	display: none;
	font-size: 2.2em;
	padding: 4px 10px;
	position: absolute;
	right: 0;
	cursor: pointer;
}

#cover-image-progressbar {
	display: none;
	left: 5%;
	position: relative;
	top: 33%;
	width: 90%;

}

/* ----------- BLUDIT PROFILE PICTURE ----------- */

#bludit-profile-picture-drag-drop {
	width: 100%;
	padding: 15px 0;
}

#bludit-profile-picture-progressbar {
	display: none;
	margin: 15px 0 0;
	width: 100%;
}

/* ----------- LOGIN FORM ----------- */

div.login-box > h1 {
	font-weight: lighter;
	letter-spacing: 4px;
	margin-bottom: 50px;
}

div.login-form {
	background: #f1f1f1 none repeat scroll 0 0;
	padding: 20px;
	width: 400px;
}

/* ----------- DASHBOARD ----------- */

div.dashboard-links {
	margin: 0 0 25px 0;
}

div.dashboard-links h4 {
	margin-bottom: -8px !important;
}

div.dashboard-links a {
	color: #555;
}

/* NEW POST */
h3.titleOptions {
	font-size: 1em;
}

/* ----------- PLUGIN LIST / THEME LIST ----------- */

tr.plugin-installed,
tr.theme-installed {
	background: #F2F7FF !important;
}

div.plugin-links > a {
	display: inline-block;
	margin-top: 5px;
}

div.plugin-links > span.separator {
	color: #ccc;
}

.label-draft,
.label-empty-title,
.label-time {
	background: #2672ec none repeat scroll 0 0;
	border-radius: 2px;
	color: #ffffff;
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 0.9em;
}

.label-empty-title {
	background: #ED8F26;
}

.label-time {
	font-style: italic;
	background: #ED3A26;
}

/* ----------- PAGINATOR ----------- */

#paginator ul {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
}

#paginator a {
    color: #2672ec;
}

#paginator li {
    display: inline;
    float: none !important;
}

#paginator li.left {
    margin-right: 10px;
}

#paginator li.list {
    background: #e0e0e0;
    color: #747474;
    padding: 2px 11px;
    margin: 0px 15px;
}

#paginator li.right {
   margin-left: 10px;
}

/* ----------- PLUGINS FORM ----------- */

#jsformplugin div {
	margin-bottom: 1.1em;
}

#jsformplugin label {
	margin: 0 0 5px 0 !important;
	display: block;
}

#jsformplugin div.tip {
	font-size: 0.9em;
	color: #AAAAAA;
}

#jsformplugin textarea {
	min-width: 400px;
	width: 60%;
	min-height: 100px;
}

#jsformplugin input[type=text] {
	min-width: 400px;
	width: 60%;
	height: 37px;
}

#jsformplugin input[type="checkbox"] {
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 10px;
}

#jsformplugin label.forCheckbox {
	margin-left: 3px;
	margin-bottom: 0px !important;
	display: inline-block;
}

#jsformplugin p {
	margin-bottom: 0;
}