/* Hacks
------------------------------------------------------------------------------ */
img {
	width: 100%;
}

/* Plugins
------------------------------------------------------------------------------ */

div.plugin 	h2.plugin-label {
	border-bottom: solid 3px #f56a6a;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

div.plugin 	ul {
	list-style: none;
}

div.plugin 	ul li {
	border-top: solid 1px rgba(210, 215, 217, 0.75);
	margin: 0.5em 0 0 0;
	padding: 0.5em 0 0 0;
}

div.plugin 	a {
	border-bottom: 0;
	color: inherit;
	cursor: pointer;
	display: block;
	font-size: 1.1em;
	padding: 0;
}

/* Plugin Tags
------------------------------------------------------------------------------ */

div.plugin-tags 	ul li {
	border: none;
	display: inline-block;
}

div.plugin-tags 	a {
	display: inline-block;
	margin: 5px;
}

/* Plugin Menu
------------------------------------------------------------------------------ */

div.plugin-menu 	ul.menu {
	margin: 0;
	padding: 0;
}

div.plugin-menu 	ul.submenu li {
	border: none;
}

div.plugin-menu 	span.category-name {
	color: #3d4449 !important;
	opacity: 1.0;
	text-transform: uppercase;
}

div.plugin-menu 	a.page-title {
	padding: 0;
}

/* Plugin Disqus
------------------------------------------------------------------------------ */
#disqus_thread {
	margin-top: 60px;
}