name: "Close inactive issues"
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-pr-stale: -1
          days-before-pr-close: -1
          # The labels you want to PROTECT from being closed
          exempt-issue-labels: 'Bug,New request'

          # Standard configuration
          stale-issue-message: 'This issue is inactive and will be closed in 7 days.'
          close-issue-message: 'Closed due to inactivity.'
          days-before-stale: 14
          days-before-close: 7
