a {
    text-decoration: none;
    color: #333;
}

a:hover, a:focus {
    color: #2672ec !important;
    text-decoration: none !important;
}

body {
    background-color: #f9f9f9;
}

/* ----------- FONTS AWESOME ----------- */
.fa-right {
    margin-right: 5px;
}

/* ----------- HEAD ----------- */
#head {
    overflow: auto;
    border-top: 10px #f1f1f1 solid;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

#head h1 {
    font-weight: normal;
    float:left;
    margin-left: 30px;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

#head ul {
  float: right;
  margin: 0;
  list-style: none;
}

#head .navbar {
    margin: 0;
    padding: 0 30px;
    font-size: 0.9em;
}

#head a {
    display: inline-block;
}

/* ----------- SIDEBAR ----------- */
#sidebar {
    overflow: auto;
    margin: 20px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    
}

/* ----------- ALERT ----------- */
#alert {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding: 20px 0px !important;
    max-width: 100% !important;
    text-align: center;
}

/* ----------- CONTENT ----------- */
#content {
    margin: 20px;
}

h2.title {
    font-weight: normal;
}

/* ----------- TABLE ----------- */
table {
    background-color: #fff;
}
table thead {
    border-bottom: 2px solid #ccc;
}

/* ----------- DASHBOARD ----------- */
div.dashboardBox {
    box-shadow: 0 1px 2px rgba(0,0,0,.26);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

div.dashboardBox div.content {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
}

div.dashboardBox div.contentBlue {
    background-color: #64b5f6 !important;
    color: #e3f2fd !important;
    position: relative;
    overflow: hidden;
}

div.dashboardBox div.contentGreen {
    background-color: #81c784 !important;
    color: #e8f5e9 !important;
    position: relative;
    overflow: hidden;
}

div.dashboardBox .nav {
    margin: 0 !important;
}



div.dashboardBox i.iconContent {
    bottom: -1rem;
    position: absolute;
    right: 0;
    font-size: 4em;
}

div.dashboardBox div.bigContent {
    font-size: 1.8em;
    font-weight: bold;
}

div.dashboardBox h2 {
    color: #666;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
}



/* ----------- FORMS ----------- */

form h4 {
    border-bottom: 1px solid #e2e2e2;
    font-weight: 300;
    margin: 33px 0 20px;
    padding-bottom: 10px;
    width: 60%;
}

p.advOptions {
    color: #777;
    font-size: 0.8em;
}

a.btn:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

a.btn-red {
    color: rgba(255, 255, 255, 0.9) !important;
    margin-right: 10px;
}

a.btn-red:hover {
    color: rgba(255, 255, 255, 0.6) !important;
}


/* ----------- PLUGINS ----------- */
div.pluginBox {
    box-shadow: 0 1px 2px rgba(0,0,0,.26);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
}

div.pluginBox p {
    margin-bottom: 10px;
}

/* ----------- PLUGINS FORM ----------- */

#jsformplugin div {
    margin-bottom: 1.1em;
}

#jsformplugin label {
    margin: 0 0 5px 0 !important;
}

#jsformplugin input[type=text] {
    width: 70%;
}

#jsformplugin input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 0px;
}

#jsformplugin label.forCheckbox {
    margin-left: 3px;
    margin-bottom: 10px;
    display: inline-block;
}

/* ----------- SUB-NAVBAR ----------- */
.sublinks a {
    color: #2672ec;
}

.sublinks a:hover {
    color: #333 !important;
}

li.active {
    border-bottom: 2px solid #ccc;
}
