/* ----------- UIKIT HACKs FOR BLUDIT ----------- */
.uk-navbar {
	background: #f5f5f5;
	border: none !important;
}

.uk-button {
	color: #ffffff;
	padding: 1px 18px;
	text-shadow: none;
}

.uk-button:hover,
.uk-button:focus {
	background-color: #777777;
	color: #ffffff;
}

.uk-navbar-nav > li > a {
	border: none;
	height: 70px;
	padding: 15px;
}

.uk-form-label {
	color: #666666;
	font-weight: normal !important;
}

.uk-form-help-block {
	color: #AAAAAA;
	font-size: 0.9em;
}

.uk-table th,
.uk-table td {
	padding: 15px 10px;
}

.uk-badge {
	margin-right: 5px !important;
	font-size: 0.9em;
	padding: 2px 7px;
	font-weight: normal;
}

a.bludit-logo {
	color: #848484 !important;
}

a.bludit-logo:hover {
	background: none !important;
}

/* ----------- BLUDIT ----------- */

#logo {
	background: #f4f4f4;
	padding:20px 0;
}

h2.title {
	margin: 20px 0;
}

button.delete-button {
    background: none;
    border: 0 none;
    color: #da2727;
    cursor: pointer;
    font-size: 0.9em;
    display: block;
    margin-bottom: 10px;
}

button.delete-button:hover {
	text-decoration: underline;
}

/* ----------- LOGIN FORM ----------- */

div.login-box > h1 {
	font-weight: lighter;
	letter-spacing: 4px;
	margin-bottom: 50px;
}

div.login-form {
	background: #f1f1f1 none repeat scroll 0 0;
	padding: 20px;
	width: 400px;
}

/* ----------- DASHBOARD ----------- */

div.dashboard-links {
	margin: 20px 0;
}

div.dashboard-links h4 {
	margin-bottom: -8px !important;
}

div.dashboard-links a {
	color: #555;
}

/* ----------- PLUGIN LIST / THEME LIST ----------- */

div.plugin-links > a {
	display: inline-block;
	margin-top: 5px;
}

div.plugin-links > span.separator {
	color: #ccc;
}

.label-draft,
.label-empty-title {
	background: #2672ec none repeat scroll 0 0;
	border-radius: 2px;
	color: #ffffff;
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 0.9em;
}

.label-empty-title {
	background: #ED8F26;
}

/* ----------- PAGINATOR ----------- */

#paginator ul {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
}

#paginator a {
    color: #2672ec;
}

#paginator li {
    display: inline;
    float: none !important;
}

#paginator li.left {
    margin-right: 10px;
}

#paginator li.list {
    background: #e0e0e0;
    color: #747474;
    padding: 2px 11px;
    margin: 0px 15px;
}

#paginator li.right {
   margin-left: 10px;
}

/* ----------- PLUGINS FORM ----------- */

#jsformplugin div {
	margin-bottom: 1.1em;
}

#jsformplugin label {
	margin: 0 0 5px 0 !important;
	display: block;
}

#jsformplugin div.tip {
	font-size: 0.9em;
	color: #AAAAAA;
}

#jsformplugin input[type=text] {
	min-width: 400px;
	width: 60%;
}

#jsformplugin input[type="checkbox"] {
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 10px;
}

#jsformplugin label.forCheckbox {
	margin-left: 3px;
	margin-bottom: 10px;
	display: inline-block;
}
