a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #2672ec !important;
    text-decoration: none !important;
}

p {
    margin-bottom: 0;
}

/* ----------- FONTS AWESOME ----------- */
.fa-right {
    margin-right: 5px;
}

/* -----------  ----------- */
div.main {
    text-align: center;
    margin: 50px 0 0 0;
}
h1.title {
    font-weight: lighter;
    font-size: 4em;
}

td {
	text-align: center;
}

.boxInstallerForm {
    margin-top: 30px !important;
}

.tools-message {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: none;
    margin-bottom: 30px;
}

#jscompleteEmail {
    border-bottom: 1px solid #fff;
    display: inline-block;
    cursor: pointer;
}